@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #29292e #121214;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #121214;
}

*::-webkit-scrollbar-thumb {
  background-color: #29292e;
  border-radius: 5px;
  border: 2px solid #121214;
}
body {
  @apply bg-gray-900 text-gray-100;
  -webkit-font-smoothing: antialiased;
  -font-smoothing: antialiased;
}

.active_link {
  pointer-events: none;
}
.active_link .sub-div {
  @apply bg-blue-500 border-blue-500;
  position: relative;
  z-index: 99;
}
.active_link .sub-div header span {
  @apply text-white;
}
.active_link .sub-div::after {
  content: "";
  position: absolute;
  top: 30%;
  left: -5px;
  transform: translateY(-30%) rotate(45deg);
  width: 1rem;
  height: 1rem;
  z-index: 1;
  @apply bg-blue-500;
}

@media (max-width: 768px) {
  .active_link .sub-div::after {
    display: none;
  }
}
